In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
%matplotlib inline
import re

In [2]:
print("allah")

allah

In [44]:
x = np.array([15, 4, 3, 8, 15, 22, 7, 9, 2, 3, 3, 12, 6])

In [45]:
pd.DataFrame({"a":x}).describe()

               a
count  13.000000
mean    8.384615
std     6.062707
min     2.000000
25%     3.000000
50%     7.000000
75%    12.000000
max    22.000000

In [46]:
x.sort()

In [47]:
np.sort(x)

array([ 2,  3,  3,  3,  4,  6,  7,  8,  9, 12, 15, 15, 22])