# <center>بسم الله الرحمن الرحيم</center>

In [ ]:
df = pd.read_csv("*__*")
df.head()
df.shape
sometimes you need to change the data type so info will tell you the right and the wrong data type
df.info()
df.describe()

sometimes you need to change the data type so info will tell you the right and the wrong data type
df.info()

In [2]:
# variable contains true and false values in this data frame
# missing_data = df.isna()
# for col in missing_data:
#     print("Column: ",col)
#     print(missing_data[col].value_counts())
#     print("-"*50+"\n")

# another way df.isnull().sum()

In [1]:
# df['column_name'].value_counts()

In [2]:
# df.dtypes

In [6]:
# Don't Forget n in the begning
# df.nunique()
# for large data set use sum(df.duplicated())

In [7]:
# change the type of specefic column

# df['End Time'] = pd.to_datetime(df['End Time'])

In [4]:
# use means to fill in missing values
# mean_texture = df['texture_mean'].mean()  good for simple code

# df['texture_mean'].fillna(df['texture_mean'].mean(),inplace=True)

# df['smoothness_mean'].fillna(df['smoothness_mean'].mean(),inplace=True)

# df['symmetry_mean'].fillna(df['symmetry_mean'].mean(),inplace=True)


# ----------------------------
# GooooooD Idea

# df.fillna(df.mean(), inplace=True)

In [2]:
#df.duplicated()
# sum(df.duplicated()) to know how many duplicated value

# df.drop_duplicates(inplace=True)
# to check again
# sum(df.duplicated())

# good way
# df_white.duplicated().value_counts() True & False

In [5]:
# visualizing pandas 
# %matplotlib inline


# plot relationship between temperature and electrical output
# df.plot(x='temperature', y='energy_output', kind='scatter');

# # plot distribution of humidity
# df['humidity'].hist();

# df['temperature'].plot(kind='box');


# Multible Box Plot
# df[['storeA','storeB','storeC']].plot(kind='box')



# pd.qcut(df1['popn'],q=10).value_counts().plot(kind='hist')

In [1]:
# Another_Way

# df.hist(figsize=(8, 8)); will remove other non numerical data

# --------
# total sales for the last month

# df.iloc[196:, 1:].sum()
# df.iloc[196:, 1:].sum().plot(kind='bar');

# from 196 to the end of row and 1: from column one to the edn
# -----------

# worst week for store C
# df[df['storeC'] == df['storeC'].min()]
# or df['storeC'].idxmin()

# ---------

# Important
# total sales during most recent 3 month period
# df.tail(20) show us the last three months start from 2017/12 to 2018/2
# the last month
# last_three_months = df[df['week'] >= '2017-12-01']
# last_three_months.iloc[:, 1:].sum()  # exclude sum of week column
# short way df[df['week']>='2017-12-01'].sum()
# --------------------
# Visualize The same Data
# sales = df[df['week'] == '2016-03-13']
# sales.iloc[0, 1:].plot(kind='bar');
# ind = df_a['education'].value_counts().index
# df_a['education'].value_counts()[ind].plot(kind='bar') 
# ------------------

In [3]:
# Repeat Array With numpy

# color_white = np.repeat('white', df.shape[0])
# white_df['color'] = color_white"

# -------------------

In [1]:
# Rename Column
# df=df.rename(columns = {'two':'new_name'})

# ---------

# to_csv حتي لا يقوم بعمل اندكس
# df.to_csv('clean_df.csv', index=False)

In [5]:
# DF_Cars Project "GOOD START "
# df_18.head()
# df_18.shape
# df_18.info()
# print("2008 Duplicated",df_08.duplicated().sum())
# print("2018 Unique Values",df_18.nunique().sum())
# print("2018 Null Value",df_18.isna().sum())

In [1]:
# drop columns
# df.drop(['B', 'C'], axis=1)
# drop rows
# df.drop([0, 1])
# df_08.drop(['cert_region'],axis = 1,inplace=True)

# -------
# IF there's is any NA
# df_18.isnull().sum() 


# NA DROP
# df_08.dropna(inplace=True)
# -------------
# checks if any of columns in 2008 have null values - should print False
# df_08.isnull().sum().any()
# ---------

In [2]:
# Duplicated Values

# print(df_08.duplicated().sum())
# drop duplicates in both datasets
# df_08.drop_duplicates(inplace=True)

# ------------------

In [1]:
# Extract Int From String
# Extract int from strings in the 2008 cyl column


# df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)

In [3]:
# GOOOOOOOD STEP
# Very Important


# df_clean = df.copy()

In [1]:
# df = pd.DataFrame(np.random.randn(6,4))

In [2]:
# For Loop To Replace Specefic Information
# asap_list = ['Immediately', 'As soon as possible', 'Upon hiring','Immediate', 'Immediate employment']

# for i in asap_list:
#     df_clean['StartDate'].replace({i:'ASAP'}, inplace=True)

# clean
# df_clean['Body weight (kg)'] = df_clean['Body weight (kg)'].str.replace('!', '.')


# df_clean['Animal'] = df_clean['Animal'].str[2:]

In [2]:
# Regular Expressions
# a = "951-719-9170ZoeWellish@superrito.com"
# import re
# print("Phone_number: ",re.findall(r'[0-9-]+',a))
# print("-"*45+"\n")
# print("Email: ",re.findall(r'[a-zA-Z]+@[a-zA-Z.]+',a))

Phone_number:  ['951-719-9170']
---------------------------------------------

Email:  ['ZoeWellish@superrito.com']

In [ ]:
# hb_08 = df[df['fuel'].str.contain('/')]
# df1 = hb_08.copy()
# df2 = hb_08.copy()
# columns to split by "/"
# split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# # apply split function to each column of each dataframe copy
# for c in split_columns:
#     df1[c] = df1[c].apply(lambda x: x.split("/")[0])
#     df2[c] = df2[c].apply(lambda x: x.split("/")[1])

# new_rows = df1.append(df2)
# orginal.drop(hb_08.index, inplace=True)
# original = df.append(new_rows,igonore_index=True)

In [ ]:
# New_idea
# alt_08 = df_08.query('fuel in ["CNG", "ethanol"]').model.nunique()
# alt_08

# ------------------


# df_08[(df_08['fuel']=='CNG') | (df_08['fuel']=='ethanol')].model.nunique()


# plt.bar(["2008", "2018"], [alt_08, alt_18])

In [3]:
# df['Trip Duration'].describe() It's good to convert numeric data to category

### Wrangling Data Steps

- Low Quality Data IS Dirty

- Untidy Data Is messy

# Common data quality issues include:

- missing data, like the missing height value for Juan Nan.
- invalid data, like a cell having an impossible value, e.g., like negative height value for Kwasi. Having "inches" and - 
"centimetres" in the height entries is technically invalid as well, since the datatype for height becomes a string when those are present. The datatype for height should be integer or float.
- inaccurate data, like Jane actually being 58 inches tall, not 55 inches tall.
- inconsistent data, like using different units for height (inches and centimetres).

### A dataset is messy or tidy depending on how rows, columns, and tables are matched up with observations,
variables, and types. In tidy data:

- Each variable forms a column.
- Each observation forms a row.
- Each type of observational unit forms a table.

## Improving Tidiness

- Improving tidiness means transforming the dataset so that each variable is a column,
- each observation is a row, and each type of observational unit is a table.

- Define Code Test

### Dirty data
- also known as low quality data. Low quality data has content issues.With Content outlier Value,Duplicated

### Messy data
- also known as untidy data. Untidy data has structural issues. Column Instead OF Rows

In [2]:
a = [5, 10, 15, 5, 15]

In [3]:
import numpy as np

In [4]:
np.mean(a)

10.0

In [5]:
np.std(a)

4.47213595499958